.task-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.task-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
  box-sizing: border-box; /* Asegura que el padding y border no afecten al width */
}

.task-button {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #00471b;
  color: white;
  text-transform: capitalize;
  height: 100%; /* Asegura que el botón tome toda la altura del contenedor */
  box-sizing: border-box; /* Asegura que el padding y border no afecten al height */
}

/* Mobile Resolution */
@media all and (max-width: 599px) {
  .task-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .task-input {
    width: 70%;
    font-size: 1em;
    padding: 10px; /* Ajuste para mejor usabilidad */
    border-radius: 4px 0 0 4px;
    border: 1px solid #00471b;
  }
  
  .task-button {
    padding: 8px; /* Ajuste para mejor usabilidad en móviles */
    margin: 0;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
    min-height: 44px; /* Altura recomendada para la accesibilidad táctil */
    text-transform: capitalize;
    height: 100%; /* Asegura que el botón tome toda la altura del contenedor */
  }
}