
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: black;
  background-color: antiquewhite;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.task-application {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo */

.logo-container {
  display: flex;
  width: 100%;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: 80px;
}

/* Lista de Tareas*/
.main-task-list {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}

/*Mobile Resolution*/
@media all and (max-width: 599px) {
  html, body {
    margin-top: 5px;
  }
  
  h1 {
    font-size: calc(1em + 1vh);
    margin: 2px 0;
  }
  
  .task-application {
    width: 100%;
    height: auto;
  }
  
  /* Logo */
  
  .logo-container {
    margin: 2px;
    min-width: 180px;
  }
  
  .logo {
    width: 90%;
    height: auto;
  }
  
  /* Lista de Tareas*/
  .main-task-list {
    width: 90%;
    min-height: 200px;
    padding: 5px;
    margin: 2px;
  }
}